nav
  ul.navigation
    li.navigation-item
      a.btn.btn--xs.btn--link(href='resume.pdf')
        span.navigation-text resume
    li.navigation-item
      a.btn.btn--xs.btn--link(href='http://www.github.com/0bie', rel="noopener")
        span.navigation-text github
    li.navigation-item
      a.btn.btn--xs.btn--link(href='http://www.linkedin.com/in/oegwim', rel="noopener")
        span.navigation-text linkedIn
    li.navigation-item
      a.btn.btn--xs.btn--link(href='mailto:contact@obie.dev')
        span.navigation-text contact
