section.bio
  p.mb--xs Hi, my name is Obie Egwim. I'm a Front End Developer with 5 years’ experience developing and maintaining design systems used to improve efficiency of customer facing web products. With a growing focus on the JavaScript ecosystem, some of my interests involve developing user interfaces, building and integrating APIs, and working with open source technologies.
  p Currently working on the Product Development team at Real Estate Webmasters, contributing towards the development of REW CRM. Some of my responsibilities over the years involve initiating the creation of a design framework, and documenting modern web practices for a better developer experience.
