section.bio
  p.mb--xs Hi, my name is Obie Egwim. I'm a Software Engineer currently interested in building multitier web applications and services. With a growing focus on the delivery of server rendered Progressive Web Apps, I've gained experience on performance, building and integrating APIs, and browser rendering optimization.
