header.header.header--secondary
  div.avatar.avatar--xl.avatar--rounded
    img(src="/image/avatar/photo.jpg", alt="a profile photo of obie egwim")
  h1.title
    span.title-text obie egwim
  h2.subtitle Building and Breaking Things On The Internets...
