header.header.header--secondary
  div.avatar.avatar--xl.avatar--rounded
    img(src="/image/avatar/avatar.jpg", alt="a profile photo of obie egwim")
  h1.title
    span.title-text obie egwim
  h2.subtitle Front End Developer at Real Estate Webmasters working on
    a.link(href="https://bit.ly/2NBWnP7", rel="noopener")
      span.link-text REW CRM
