aside.sidebar(id="sidebar")
  div.sidebar-content
    ul.list.list--sidebar
      li.sidebar-item(class=`${menu === 'index' ? 'sidebar-item--active' : ''}`)
        a(href="#", data-filter, data-notes="all")
          span.icon-container
            include ../icon/note
          span.sidebar-text All notes
      li.sidebar-item
        a(href="#", data-filter, data-notes="favorites")
          span.icon-container
            include ../icon/favorite
          span.sidebar-text Favorites
      li.sidebar-item.reveal--sm
        a(href="/admin")
          span.icon-container
            include ../icon/bar
          span.sidebar-text Dashboard
      li.sidebar-item.reveal--sm
        a(href="/logout")
          span.icon-container
            include ../icon/logout
          span.sidebar-text Logout
      li.sidebar-item
        a.caret.caret--bottom(href="#", id="taglist_label")
          span.icon-container
            include ../icon/tag
          span.sidebar-text Tags
        div.sublist-container(id="sublist_container", data-filter)
          include ../tagList
  footer.sidebar-footer
    div.sidebar-fade
    a.btn.btn--sm.btn--full.btn--primary(href="/post", title="Create a new post")
      span.icon-container.mr--xs
        include ../icon/new
      span.btn-text.vert--mid Create Note
