extends layout
block page

block content
  div.content--project
    header
      h1= title
      div.description
        p= description
      div.technologies
        p= technologies
      div.project-ui
        img(src="")
