.title,
.subtitle {
  text-transform: capitalize;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title-text {
  font-size: 1.375rem;
}

.link {
  font-style: italic;
}
